scrapy<1.9
queuelib==1.5.0
attrs
pony==0.7.6
PyMySQL
py-pretty
pycrypto
elasticsearch>=5.0.0,<6.0.0
elasticsearch-dsl>=5.0.0,<6.0.0
python-dateutil
txsocksx
numpy==1.16.1
scipy
scikit-learn
tabulate
langdetect
pycountry
networkx
python-memcached
pillow
flask
app
timeout_decorator
pretty
crypto
SHA256
gensim
scikit-learn
paramiko
PyPyDispatcher>=2.1.0
urllib3==1.26.10
werkzeug==0.16.0
