# TODO: slim down the requirements
PyYAML==5.3.1
pony==0.7.6
PyMySQL==0.10.1
py-pretty==1
elasticsearch>=5.0.0,<6.0.0
elasticsearch-dsl>=5.0.0,<6.0.0
python-dateutil==2.8.2
# removed to see if web interface works w/o this
#numpy
#scipy
#scikit-learn
#sklearn
# build fails, is it really required?
#pillow
#gensim
#tabulate
#app
#networkx
#paramiko
crypto==1.4.1
pycrypto==2.6.1
SHA256==0.3
langdetect==1.0.9
pycountry==19.8.18
python-memcached==1.59
flask==1.1.4
timeout_decorator==0.5.0
pretty==0.1
PyPyDispatcher>=2.1.0
urllib3==1.21.1
Werkzeug<1
